---
import { t, changeLanguage } from "i18next";
import PageLayout from "@/layouts/Base";
import { MY_SKILL } from "@/data/constants";

changeLanguage("en");

const meta = {
    title: t("about"),
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title mb-0">{t("about")}</h1>
		<p class="text-base" set:html={t("about-me")} />
		<section class="mt-12">
			<h2 class="title mb-4 text-xl">{t("technologie")}</h2>
			{
				MY_SKILL.map((skill) => (
					<div class="mr-2 mb-2 inline-block bg-textColor px-4 py-2 text-base font-semibold text-bgColor">
						{skill.title}
					</div>
				))
			}
			<!-- <h2 class="text-l mb-4 font-bold">{t("future-technologie")}</h2>
			{
				PLAN_TO_LEARN.map((skill) => (
					<div class="text-md mr-2 mb-2 inline-block bg-textColor px-4 py-2 font-semibold text-bgColor">
						{skill.title}
					</div>
				))
			} -->
		</section>
	</div>
</PageLayout>
