---
import { t, changeLanguage } from "i18next";
import PageLayout from "@/layouts/Base";
import { MY_SKILL } from "@/data/constants";

changeLanguage("cs");

const meta = {
    title: t("about"),
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">{t("about")}</h1>
		<p>
			Hi, I’m a starter Astro. I’m particularly great for getting you started with your own
			blogging website.
		</p>
		<section class="mt-12">
			<h2 class="title mb-4 text-xl">{t("technologie")}</h2>
			{
				MY_SKILL.map((skill) => (
					<div class="text-md mr-2 mb-2 inline-block bg-textColor px-4 py-2 font-semibold text-bgColor">
						{skill.title}
					</div>
				))
			}
			<!-- <h2 class="text-l mb-4 font-bold">{t("future-technologie")}</h2>
			{
				PLAN_TO_LEARN.map((skill) => (
					<div class="text-md mr-2 mb-2 inline-block bg-textColor px-4 py-2 font-semibold text-bgColor">
						{skill.title}
					</div>
				))
			} -->
		</section>
	</div>
</PageLayout>
