---
import type { CollectionEntry } from "astro:content";
import type { IElement } from "@/data/shared";
import { localizePath } from "astro-i18next";
import i18next from "i18next";

interface Props extends IElement {
	post: CollectionEntry<"post">;
	withDesc?: boolean;
}

const { post, as: Element = "div", withDesc = false } = Astro.props;
---

<Element>
	<a
		href={localizePath(`/posts/${post.slug}`, i18next.language)}
		class="cactus-link"
		rel="prefetch"
	>
		{post.data.title}
	</a>
</Element>
{withDesc && <span class="mt-2 block line-clamp-3">{post.data.description}</span>}
