---
import type { CollectionEntry } from "astro:content";
import type { IElement } from "@/data/shared";

interface Props extends IElement {
	post: CollectionEntry<"post">;
	withDesc?: boolean;
}

const { post, as: Element = "div", withDesc = false } = Astro.props;
---

<Element>
	<a href={`/posts/${post.slug}`} class="cactus-link" rel="prefetch">
		{post.data.title}
	</a>
</Element>
{withDesc && <span class="mt-2 block line-clamp-3">{post.data.description}</span>}
